{% extends "base.html" %}

{% block content %}

{% for country in all_countries %}
<div class="countries">
    <div class="content">
      <div class="description">
        <a href="/countries/{{country.id}}">{{country.name}}</a>
        <a href="/countries/{{country.id}}/edit">Edit Country</a>

      </div>

      <div class="buttons">
        <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-snowflake-o" style="color: rgb(87, 87, 121)" aria-hidden="true"></i></button>
        </form>
    </div>
    </div>
  </div>
{% endfor %}

<div class="buttons">
    <form class="delete-form" action="/countries/new" method="GET">
        <button type="submit">Add country</button>
    </form>
</div>

{% endblock %}
