{% extends "base.html" %}

{% block content %}
    <form action="/countries" method="POST">
        <div>
        <label for="name">Country name:</label>
        <input type="text" id="name" name="name" placeholder="Country name" required autofocus>

        <label for="continent">Continent:</label>
        <input type="text" id="continent" name="continent" placeholder="Continent" required>

        <label for="flag">Flag Url:</label>
        <input type="text" id="flag" name="flag" placeholder="Flag" required>


        </div>
        <button type="submit">Add country</button>
    </div>
    </form>


{% endblock %}