{% extends "base.html" %}

{% block content %}

{% for user in all_users %}
<div class="users">
    <div class="content">
      <div class="description">
        <a href="/users/{{user.id}}">{{user.first_name + " " + user.last_name}}</a>
      </div>
      
      <div class="buttons">
          <form class="delete-form" action="/users/{{user.id}}/delete" method="POST">
              <button class="trash-button"><i class="fa fa-times" style="color: rgb(163, 47, 31)" aria-hidden="true"></i></button>
          </form>
      </div>
    </div>
  </div>
{% endfor %}

<div class="buttons">
    <form class="delete-form" action="/users/new" method="GET">
        <button type="submit" class="add-button">Add user</button>
    </form>
</div>

{% endblock %}
